.btns-container {
  text-align: center;
  position: relative;
  margin-top: 20px;

  & > .invisible {
    height: 1rem;
  }

  & > button {
    font-size: 1.3rem;
    padding: 5px;
    margin: 0 5px;
    min-width: 34px;
    background-color: #ffd70070;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transform: translate(-50%, -50%);
  }

  & > .actual-btn {
    background-color: #ffd700;
    cursor: auto;
    position: absolute;
    left: calc(50%);
    // transform: translate(-50%, -50%);
  }

  & > .m1 {
    position: absolute;
    left: calc(50% - 50px);
  }

  & > .p1 {
    position: absolute;
    left: calc(50% + 50px);
  }

  & > .m2 {
    position: absolute;
    left: calc(50% - 100px);
  }

  & > .p2 {
    position: absolute;
    left: calc(50% + 100px);
  }

  & > .m3 {
    position: absolute;
    left: calc(50% - 150px);
  }

  & > .p3 {
    position: absolute;
    left: calc(50% + 150px);
  }

  & > .m4 {
    position: absolute;
    left: calc(50% - 200px);
  }

  & > .p4 {
    position: absolute;
    left: calc(50% + 200px);
  }

  & > .first {
    position: absolute;
    left: calc(50% - 250px);
  }

  & > .last {
    position: absolute;
    left: calc(50% + 250px);
  }

  & > .previous {
    position: absolute;
    left: calc(50% - 320px);
  }

  & > .next {
    position: absolute;
    left: calc(50% + 330px);
  }
}

button:hover {
  background-color: #ffd700;
}

@media screen and (max-width: 810px) {
  .btns-container > .previous {
    display: none;
  }

  .btns-container > .next {
    display: none;
  }
}

@media screen and (max-width: 636px) {
  .btns-container > .first {
    display: none;
  }

  .btns-container > .last {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .btns-container > .m4 {
    display: none;
  }

  .btns-container > .p4 {
    display: none;
  }
}

@media screen and (max-width: 482px) {
  .menu-btn-margin {
    margin-top: 140px;
  }
}
