.carousel-img {
  border-radius: 20px;
}

.carousel-title {
  display: inline-block;
  margin: 5px 0;
  color: white;
  height: 36px;
}

.container {
  margin: 0 20px;
  background-color: black;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  max-width: 188px;
  // width: 30%;
  // position: absolute;
}

.catalog {
  margin: 0;
}

.carousel-vote-average {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  color: black;
  background-color: gold;
  border-radius: 50%;
  margin-bottom: 5px;
}

.container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

// .position-absolute {
//   position: absolute;
//   top: 50%;
//   left: 50px;
//   cursor: default;
//   border: gold solid 3px;
//   transform: translateY(-50%);
// }
