.container-media-general-info {
  // padding: 2rem 4rem;
  border-radius: 2rem;
  margin-top: 2rem;
}

.backdrop-img {
  width: 100%;

  //   opacity: 0.5;
}

.poster-img {
  border-radius: 2rem;
  border: gold 5px solid;
}

.img-filter {
  padding: 2rem 4rem;
  border-radius: 2rem;
  background-image: linear-gradient(
    to right,
    rgb(24, 51, 71) 150px,
    rgba(9, 12, 22, 0.84) 100%
  );
}

.container-poster-info {
  display: flex;
  justify-content: space-between;
}

.release-date {
  font-weight: lighter;
  opacity: 0.8;
}

.media-title {
  margin-bottom: 0.5rem;
}

.media-info {
  margin: 0 auto 0 2rem;
  // margin-left: 2rem;
}

.media-genres {
  font-size: 0.9rem;
}

.media-vote-average {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.overview-text {
  text-align: justify;
  max-width: 750px;
}

.tagline {
  font-style: italic;
  opacity: 0.7;
}
