.preview-carousel {
  border: black solid 1px;
}

.carousel-header {
  display: flex;
}

.carousel-options {
  display: flex;
  align-items: center;
}

.time-options,
.media-type-options {
  margin-left: 20px;
}

.carousel-preview-cards {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.carousel-option-btn {
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 15px;
}

.option-chosed {
  background-color: black;
  color: gold;
}

.container-scroll-btns {
  position: relative;
  top: 165px;
  display: flex;
  justify-content: space-between;
  //   padding: 0.4rem 0.25rem 0.25rem;
  //   border-radius: 0.5rem;
}

.scroll-btn {
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: black;
  opacity: 0.7;
  color: white;
}

.hidden {
  opacity: 0;
}
