.preview-carousel {
  border: black solid 1px;
  position: relative;
}

.carousel-header {
  display: flex;
}

.carousel-options {
  display: flex;
  align-items: center;
}

.time-options,
.media-type-options {
  margin-left: 20px;
}

.carousel-preview-cards {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.carousel-option-btn {
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 15px;
}

.option-chosed {
  background-color: black;
  color: gold;
}

.container-scroll-btns {
  position: absolute;
  top: calc(50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.scroll-btn {
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: black;
  opacity: 0.7;
  color: white;
  cursor: pointer;
  z-index: 1;
  &:hover {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  cursor: default;
  &:hover {
    opacity: 0;
  }
}
